#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
 background: url(./assets/sun.jpg);
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#tapbut{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  color: #fff;
  font: 2em sans-serif;
background: url(./assets/sun.jpg);
background-repeat:no-repeat;
background-position:center;
background-size: cover;
transition: transform 0.5s ease;

}

#tapbut:active{
  transform:scale(1.2);
  border-style: none;
}